<p>{{quote.id}}</p>
<p>Your Quote Was Uploaded : {{quote.completeDate|dateCount}} Hours Ago</p>
<button (click)= "quote.upvotes = quote.upvotes + 1" class="btn btn block btn-primary">Up-Vote <i class="fa fa-thumbs-up"></i></button><p>Upvote(s) : {{quote.upvotes}}</p>

<button (click)= "quote.downvotes = quote.downvotes + 1"class="btn btn block btn-warning">Down-Vote <i class="fa fa-thumbs-down"></i></button><p>DownVote(s) : {{quote.downvotes}}</p>

<button (click)= 'quoteDelete(true)'class="btn btn block btn-danger">Delete A Quote <i class="fa fa-trash"></i></button>
